{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <title>Cursos Rocketseat</title>

    <link rel="stylesheet" href="courses.css">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Cursos - Rocketseat</h1>
    </div>

    <section class="cards">
        <div class="card" id="starter">
            <div class="card__image-container starter">
                <img src="/asserts/starter.svg" alt="Curso Starter">
            </div>
            <div class="card__content">
                <p>Curso Starter | Rocketseat</p>
            </div>
            <div class="card__info">
                <p>4 módulos</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="launchbase">
            <div class="card__image-container launchbase">
                <img src="/asserts/launchbase.svg" alt="Curso Launchbase">
            </div>
            <div class="card__content content_launchbase">
                <p>Curso Launchbase | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>12 módulos</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="gostack">
            <div class="card__image-container gostack">
                <img src="/asserts/gostack.svg" alt="Curso GoStack">
            </div>
            <div class="card__content">
                <p>Curso GoStack | Diego Fernandes</p>
            </div>
            <div class="card__info">
                <p>15 módulos</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">    
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <!-- Curso Aqui -->
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <div class="links-sociais">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
    </div>
        
    <script src="scripts.js"></script>

{% endblock %}