/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

:root {
    --color-orange: #D2691E;
    --color-rocket: #8b8b8b;
}

/*==== CARDS ==== */

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    background-color: var(--color-rocket);
    border: 5px solid var(--color-orange);
    align-items: center;

    border-radius: 20px;
}

.card__image-container img{
    width: 50%;
}

.starter img{
    width: 80%;
}

.launchbase img{
    width: 100%;
}

.gostack img{
    width: 90%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content_launchbase {
    height: 80px;
}

.content_launchbase p {
    margin-top: 60px;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}


/*==== MODAL ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    /* Visibilidade do componente deve estar escondida */
    visibility: hidden;
}

.modal {
    background-color: white;
    margin: 5vh auto;
    position: relative;
}


.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*==== MODAL.ACTIVE & MODAL.MAXIMIZE ==== */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.maximize {
    width: 90%;
    height: 90%;

}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/* ==== Links ==== */


.links-sociais {
    text-align: center;
}

.links-sociais a {
    color: white;
    font-size: 18px;
    line-height: 400px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links-sociais a:hover {
    color: #D2691E;
    transition: color 200ms;
    border-bottom: 1px solid #D2691E;
}

/* Verificação de hover para Cursos serem abertas */

.card {
    cursor: pointer;
}

.card:target {
    animation: spin 3s linear infinite;
}

@keyframes card {
   0% {
        transform: rotateY(0deg);
   }
   100% {
        transform: rotateY(360deg);
   }
}