<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Adriano Almeida</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portifolio">Aulas</a>
            </div>
        </header>

        <!-- Criando esse block para ele ser dinamico e receber os dados de outras páginas html -->
        {% block content %}

        {% endblock %}
       
    </body>

</html>