{% extends "layout.njk" %}

{% block head %}
    <title>Portifolio - Adriano Almeida</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">

        {% for item in items %}
            <div class="card" id={{ item.id }}>
                {# Adicionando uma classe para poder favoritar, se o mesmo conter o dado item.featured #}
                <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                <div class="card__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="card__info">
                    <p>{{ item.info.duration }}</p>
                    <p class="card__price">{{ item.info.price }}</p>
                </div>

            </div>
        {% endfor %}

        {# <div class="card" id="GykTLqODQuU">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video Educacional JS">
                </div>
                <div class="card__content">
                    <p>Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>57 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div> #}

        {# <div class="card" id="HN1UjzRSdBk">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg" alt="Video Educacional CSS">
                </div>
                <div class="card__content">
                    <p>Desvendando o CSS Grid na prática | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>36 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div>

            <div class="card" id="rAzHvYnQ8DY">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video Educacional Array">
                </div>
                <div class="card__content">
                    <p>Array: High Order Functions | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>54 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div>

            <div class="card" id="ghTrp1x_1As">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="Video Educacional API">
                </div>
                <div class="card__content">
                    <p>O que é API? Rest e RESTful? | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>33 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div>

            <div class="card" id="GSqR2i-Pq6o">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/maxresdefault.jpg" alt="Video Educacional This">
                </div>
                <div class="card__content">
                    <p>Desvendando a variável this no Javascript | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>48 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div>

            <div class="card" id="2alg7MQ6_sI">

                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/2alg7MQ6_sI/maxresdefault.jpg" alt="Video Educacional Git">
                </div>
                <div class="card__content">
                    <p>Como usar Git e Github na prática: Guia para Iniciantes | Mayk Brito</p>
                </div>
                <div class="card__info">
                    <p>33 min</p>
                    <p class="card__price">Free</p>
                </div>

            </div> #}

    </section>

    {# <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <!-- Video Aqui -->
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div> #}

    <script src="/scripts.js"></script>
{% endblock %}