/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";


.rocketseat {
    /* border-bottom: 1px solid #333; */
    display: flex;
    align-items: center;
    justify-content: initial;
}

.rocketseat img {
    border-radius: 50%;

    border: 5px solid var(--color-rocket);
    margin-bottom: 32px;
    height: 150px;
    margin-top: 16px;
}

.rocketseat h3 {
    /* Colocar cor no elemento */
    color: whitesmoke;
    /* Tamanho da fonte do elemento */
    font-size: 42px;
    /*  */
    line-height: 52px;
    /* Efeito na fonte do elemento */
    font-weight: bold;
    margin-left: 16px;

}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#wrapper p {
    color: whitesmoke;
    font-weight: bold;
    margin: none;
    text-align: left;
}

#wrapper .list {
    font-size: 24px;
    line-height: 34px;
    justify-content: center;
}

#wrapper .list h2 {
    color: #6A5ACD;
    font-weight: bold;
    text-align: left;
}

#wrapper .list ul {
    color: whitesmoke;
    margin-top: 16px;
    text-align: center;
}
