/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";


#wrapper {
    margin-bottom: 50px;
}

/*==== CARDS ==== */

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    background-color: var(--color-rocket);
    border: 5px solid var(--color-negrito);
    align-items: center;

    cursor: pointer;

    border-radius: 20px;
}

.card__image-container img{
    margin-top: 12px;
    width: 50%;
}

.starter img{
    width: 100%;
    height: 150px;
    /* align-items: center; */
}

.launchbase img{
    width: 100%;
    height: 150px;
}

.gostack img{
    width: 100%;
    height: 150px;
}

.card__content,
.card__info {
    color: white;
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*==== IFRAME ==== */

iframe {
    background-color: white;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}


/* === COURSE === */

.course {
    margin: 0 auto;
    max-width: 900px;
}

.card__course-container {
    position: relative;
    padding-top: 62.5%;
}

.card__course-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}