{% extends "layout.njk" %}

{% block head %}
    <title>{{ item.title }}</title>

    <link rel="stylesheet" href="/courses.css">
{% endblock %}

{% block content %}
    <div id="wrapper" class="course">
        <h1>{{ item.title }}</h1>
    </div>

    <section class="course">
            <div id={{ item.id }}>
                <div class="card__course-container">
                    <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
                </div>
            </div>
    </section>

{% endblock %}